@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>JavaScript Games</h1>
    <p class="lead">JavaScript games using canvas and html5 features as WebSockets.</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="span4">
        <h2>Single player games</h2>
        <p>Single player games that will challenge your reflexes, logic and sometimes nerves.</p>
        <p><a class="btn" href="#">Play &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Multiplayer games</h2>
        <p>Multiplayer games allow you to enjoy playing with friends.</p>
        <p><a class="btn" href="~/Games">Play &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Dummy</h2>
        <p>Dummy.</p>
        <p><a class="btn" href="#">Learn more &raquo;</a></p>
    </div>
</div>